header{
    padding: 0 5%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}
header ul{
    display: flex;
    flex-direction: row;
}
header ul li{
    padding-left: 0.5rem;
}
#logo{
    display: none;
}

@media (min-width:720px) {
    #logo{
        display: flex;
    }
    .header.dropdown-list{
        position: relative;
        display: flex;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        padding-left: 1rem;
        font-size: 1rem;
        line-height: 21px;
    }
    .header.dropdown-list li a{
        color: var(--secondary-light-color);
    }
    .dropdown:hover .header.dropdown-list {
        background-color: #fff;
        box-shadow: none;
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: row;
        visibility: visible;
        opacity: 1;
        z-index: 1;
        transform: none;
        transition: none;
    }
    .header.dropdown-list li{
        padding-left: 1rem;
    }
}
