main{
    width: 100%;
}

section#main-banner a{
    position: relative;
    z-index: -3;
}
section#main-banner a img{
    object-fit: cover;
    max-width: 100%;
    min-height: 350px;
    height: auto;
    margin: 0 auto;
    border-bottom: 2px solid var(--secondary-color);
    z-index: -3;

}
section#main-banner a h1{
    position: absolute;
    left: -300px;
}

section#discover{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 80%;
    padding: 0 10%;
}

section#discover #discover-text{
    margin-bottom: 3rem;
}

section#discover #discover-text h2{
    font-weight: bolder;
    margin-bottom: 2rem;
}

section#discover #discover-bracket{
    width: 15px;
    height: 316px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    /* UI Properties */
    border: 1.32px solid var(--primary-color);
    border: 1px solid #00AEEF;
    opacity: 1;
}
@media (min-width:720px){
    section#main-banner img{
        object-fit: cover;
        max-width: 100%;
        min-height: 450px;
        height: auto;
        margin: 0 auto;
        z-index: -3;
    }
    section#discover{
        width: 70%;
        padding: 0 15%;
    }
}