main{
    width: 100%;
}

section#main-banner a{
    position: relative;
    z-index: -3;
}
section#main-banner a img{
    object-fit: cover;
    max-width: 100%;
    
    min-height: 350px;
    height: auto;
    margin: 0 auto;
    border-bottom: 3px solid var(--secondary-color);
    z-index: -3;

}
section#main-banner a h1{
    position: absolute;
    left: -300px;
}

section#discover{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 86%;
    padding: 0 7%;
}

section#discover #discover-text{
    margin-bottom: 3rem;
}

section#discover #discover-text h2{
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 2rem;
}
.swiper{
    width: 100%;
}
section#discover .swiper-slide .slide-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0.5rem 0.5rem 0.5rem;
    padding: 2rem;
    box-shadow: 1px 3px 10px #00000014;
}
section#discover .swiper-slide .slide-card i{
    font-size: 120px;
    color: var(--secondary-color);

}
section#discover .swiper-slide .slide-card h3{
    font-size: 16px;
}

section#know{
    width: 86%;
    margin: 70px 7% 0 7%;
    text-align: center;
    margin-top: 70px;
}

section#know .swiper{
    height: 140px;
    padding: 20px;
    margin: 40px 0;
    background-color: var(--background-grey);
}
section#know .swiper .swiper-slide{
    width: 110px !important;
    height: 112px !important;
    margin-right: 20px !important;
    padding: 10px 6px;
    background: #E7E7E7 0% 0% no-repeat padding-box !important;
    mix-blend-mode: multiply;
}
section#know .swiper .swiper-slide h3{
    color: var(--text-grey);
    padding: 0;
    font-size: 0.8rem;
}

section#be-part{
    width: 86%;
    margin: 70px 7% 0 7%;
    height: 400px;
    background-image: url("../images/section3.png");
    background-position: center;
    background-size: cover;

}
section#be-part>div{
    width: 80%;
    padding: 5% 0 5% 10%;
}
section#be-part>div h2{
    margin-bottom: 12px;
}
section#be-part>div p{
    font-family: "Roboto Bold";
    color: var(--secondary-color);
    margin-bottom: 15px;
}
section#services{
    width: 86%;
    margin: 70px 7% 0 7%;
    text-align: center;
}
section#services h3 strong{
    font-size: 20px;
}

section#services #services-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
}
section#services #services-container .service-card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 424px;
    max-width: 424px;
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}
section#services #services-container .service-card img{
    max-height: 212px;
    max-width: 100%;
    object-fit: cover;
}
section#services #services-container .service-text{
    padding: 24px 24px 0 24px;
    color: var(--primary-light-color);
    text-align: left;
}
section#services #services-container .service-text h4{
    font-size: 20px;
}
section#services #services-container .service-text p{
    font-family: "Roboto Light";
    font-size: 16px;
}
section#services #services-container a{
    margin: 24px 24px;
    text-align: left;
    font-family: "Roboto Bold";
    color: var(--primary-color);
}
section#about{
    width: 86%;
    margin: 70px 7% 0 7%;
    height: 400px;
    background-image: url("../images/about.png");
    background-position: center;
    background-size: cover;
}
section#about>div{
    width: 80%;
    padding: 5% 0 5% 10%;
}
section#about>div h2{
    margin-bottom: 12px;
    font-size: 32px;
    color: var(--primary-light-color);
}
section#about>div p{
    font-family: "Roboto Bold";
    color: var(--primary-color);
    font-size: 16px;
    margin-bottom: 30px;
}
section#about>div a{
    color: var(--primary-light-color);
}
section#certificates{
    width: 86%;
    margin: 70px 7% 0 7%;
    display: flex;
    flex-direction: column;
}
section#certificates #certificates-text{
    color: var(--secondary-color);
}
section#certificates #certificates-text h5{
    font-size: 16px;
}
section#certificates #certificates-text strong{
    color: var(--secondary-color);
    font-weight: bold;
}
section#certificates #certificates-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;        
}
section#newsletter{
    width: 76%;
    margin: 70px 7% 0 7%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
}
section#newsletter strong{
    font-size: 20px;
    line-height: 20px;
}
section#newsletter #newsletter-form {
    text-align: left;
}
section#newsletter #newsletter-form form{
    display: flex;
    flex-direction: column;
}
section#newsletter #newsletter-form form input{
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 4px 10%;
    height: 40px;
    margin-top: 15px;
}
section#newsletter #newsletter-form form button{
    display: flex;
    width: fit-content;
    margin: 15px 0 0 0;
}
@media (min-width:769px){
    section#main-banner img{
        object-fit: cover;
        max-width: 100%;
        min-height: 450px;
        height: auto;
        margin: 0 auto;
        z-index: -3;
    }
    section#discover{
        
        flex-direction: row;
    }
    section#discover #discover-text h2{
        width: 24vw;
    }

    section#be-part>div,section#about>div{
        width: 40%;
        padding: 5% 0 5% 10%;
    }
    section#be-part>div h2,section#about>div h2{
        margin-bottom: 22px;
    }
    section#be-part>div p,section#about>div strong{
        margin-bottom: 40px;
    }
    section#services #services-container{
        flex-direction: row;
        justify-content: space-between;
    }
    section#services #services-container .service-card{
        width: 32%;
    }
    section#about>div p{
        font-size: 20px;
        margin-bottom: 40px;
    }
    section#certificates{
        flex-direction: row;
    }
    section#certificates #certificates-text{
        width: 40%;
        padding-left: 10%;
    }
    section#certificates #certificates-img{
        width: 50%;
    }
    section#newsletter{
        flex-direction: row;
    }
    section#newsletter #newsletter-title{
        width: 40%;
        padding-right: 10%;
    }
    section#newsletter #newsletter-form{
        width: 50%;
    }
}