main{
    width: 100%;
}

section#main-banner a{
    position: relative;
    z-index: -3;
}
section#main-banner a img{
    object-fit: cover;
    max-width: 100%;
    
    min-height: 350px;
    height: auto;
    margin: 0 auto;
    border-bottom: 2px solid var(--secondary-color);
    z-index: -3;

}
section#main-banner a h1{
    position: absolute;
    left: -300px;
}

section#discover{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 80%;
    padding: 0 10%;
}

section#discover #discover-text{
    margin-bottom: 3rem;
}

section#discover #discover-text h2{
    font-weight: bolder;
    margin-bottom: 2rem;
}
.swiper{
    width: 100%;
}
section#discover .swiper-slide .slide-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0.5rem;
    padding: 2rem;
    box-shadow: 1px 3px 10px #00000014;
}
section#discover .swiper-slide .slide-card i{
    font-size: 100px;
    color: var(--secondary-color);
}

section#know{
    width: 80%;
    padding: 0 10%;
    text-align: center;
    margin-top: 4rem;
}


@media (min-width:720px){
    section#main-banner img{
        object-fit: cover;
        max-width: 100%;
        min-height: 450px;
        height: auto;
        margin: 0 auto;
        z-index: -3;
    }
    section#discover{
        width: 70%;
        padding: 0 15%;
        flex-direction: row;
    }
    section#discover #discover-text h2{
        width: 250px;
        flex-basis: 300px;
    }
    section#know{
        width: 70%;
        padding: 0 15%;
    }
}